
<html>

<header>
    <title> BCP Request Form </title>
</header>

<body>
    <mat-form-field>
        <mat-label> Which Application is Affected? </mat-label>
        <mat-select>
            <mat-option value="one"> </mat-option>
            <mat-option value="two"> </mat-option>
            <mat-option value="three"> </mat-option>
            <mat-option value="four"> </mat-option>
            <mat-option value="five"> </mat-option>
            <mat-option value="six"> </mat-option>
            <mat-option value="seven"> </mat-option>

        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label> Please provide a brief description of the issue </mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

</body>

</html>
