
  <h1> {{title}} </h1>

  <body>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Home"> </mat-tab>
      <mat-tab label="BCP"> Content 2 </mat-tab>
      <mat-tab label="EIMT"> Content 3 </mat-tab>
      <mat-tab label="RFO Escalations"> Content 3 </mat-tab>
    </mat-tab-group>
    <img class="leader" src="../assets/Brent Photo.PNG" alt="Brent Bitz, Network Control Center Director"/>
    <img class="leader" src="../assets/Jes Photo.PNG" alt="Jessica Maynes, Network Operations Senior Manager"/>
    <img class="leader" src="../assets/Rob photo.PNG" alt="Rob Teff, Network Operations Manager"/>
    <BR> 
    <p> Welcome to the Lumen Internal Escalations Home Page. Please navigate to the correct tab and fill out the required information, and Event Management Team Leadership will reach out after the request has been evaluated. </p>

</body>
  



 
 
